@import "./pattern.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #25282a;
}
.box {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: #25282a;
  transition: 0.5s;
  &:hover {
    height: 400px;
    .imgBx {
      img {
        opacity: 1;
      }
    }
    .content {
      opacity: 1;
}
  }
  .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    img {
      max-width: 100%;
      opacity: 0.1;
      transition: 0.5s;
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #ffffff;
    z-index: -1;
    background: linear-gradient(235deg, #78ffd6, #010615, #00bcd4);
  }
  &:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #ffffff;
    z-index: -2;
    filter: blur(40px);
    background: linear-gradient(235deg, #78ffd6, #010615, #00bcd4);
  }
  &:ntf-child(2):before {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
  }
  &:ntf-child(2):after {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
  }
  &:ntf-child(3):before {
    background: linear-gradient(235deg, #772aff, #010615, #2196f3);
  }
  &:ntf-child(3):after {
    background: linear-gradient(235deg, #772aff, #010615, #2196f3);
  }
  .content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    
    h2 {
      font-size: 20px;
      color: #ffffff;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 1px;

      span {
        font-size: 14px;
        color: #ffffff;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 1px;
      }
    }
  }
}
